@import url('http://fonts.googleapis.com/css?family=Playfair+Display');
.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
	background-color: #FFFFFF;
}
.headline-section{
	color:#FF0000;
	
}
.headline-main{
	color:#BDBDBD;
	font-family:Playfair+Display;
}
.container-resume {
	background-color: #FFFFFF;
	width: 800px;
	margin: auto;
	padding: 50px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.headline-main2 {
   position:absolute;
left:270px;
top:85px;
font-family:Playfair Display;

}
.headline-sub{
	text-align:center;
}
