@import url('http://fonts.googleapis.com/css?family=Playfair+Display');
.group:after {
  content: "";
  display: table;
  clear: both;
}
h2{
	color:#FF0000;
	font-weight:bold;
}
a:hover {
    color: #FF00FF;
}

body {
	background-color: #FFFFFF;
}
.headline-section{
	color:#FF0000;
	
}
.headline-main{
	color:#BDBDBD;
	font-family:Playfair Display;
}
.container-resume {
	background-color: #FFFFFF;
	width: 800px;
	margin: auto;
	padding: 50px;
}
li {
	font-weight:normal;
}

h3{
	font-family:Playfair Display;
}
h3 span{
	font-style:italic;
	color:#BDBDBD;
	font-size:20px;
}
strong span{
	font-style:italic;
	color:#A4A4A4;
	
	position: relative;
	top:20px;
}


hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.headline-main2 {
   position:absolute;
left:270px;
top:85px;
font-family:Playfair Display;

}
.headline-sub{
	text-align:center;
}
