.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
	background-color: #FFFFFF;
}
.headline-section{
	color:#FF0000;
	
}

.container-resume {
	background-color: #FFFFFF;
	width: 800px;
	margin: auto;
	padding: 50px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
