* {
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */	
}

body {
	font-size: 100%;
	/* base font size 16px */
	background-color: white;
	margin: 0;
}

@media (min-width: 20em) { 
/* 320/16 = 20 */
	
	body {
		background-color: blue;
	}
}

@media (min-width: 30em) { 
/* 480/16 = 30 */

	body {
		background-color: green;
	}
}

@media (min-width: 37.5em) { 
/* 600/16 = 37.5 */

	body {
		background-color: red;
	}
}


/*  HEADLINE  */


.headline {
	font-size: 1em; /* 16px */
	color: white;
}

.first-headline,
.second-headline,
.third-headline {
	display: block;
}

.second-headline {	
	font-size: 0.5em; /* 8px */
}

.third-headline {
	font-size: 0.25em; /* 4px */
}

@media (min-width: 20em) { 
/* 320/16 = 20 */
	
	.headline {
		font-size: 2em; /* 32px */
	}
}

@media (min-width: 30em) { 
/* 480/16 = 30 */

	.headline {
		font-size: 3em; /* 48px */
	}
}

@media (min-width: 37.5em) { 
/* 600/16 = 37.5 */

	.headline {
		font-size: 4em; /* 64px */
	}

	.third-headline {
		/* 120 / 64 = 1.875 */
		font-size: 1.875em; /* 120px */
	}
}


/*  PORTFOLIO - LIST  */

.portfolio-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.portfolio-item {
	width: 100%;
	background: black;
	padding: 20px;
	margin: 2%;
	color: white;
	border: 1px solid white;
}

@media (min-width: 500px) {
	.portfolio-item {
		float: left;
		width: 46%;
	}
}