@import url(base.css);

p{
    font-family: 'Fjalla One', sans-serif;
}
button{
    width:24%;
    height: 50px; 
    background-color: #0000FF;
    font-size:50%;
    font-family: 'Source Sans Pro', sans-serif;
}


.container-homepage{
  background-color: blue;
  width: 100%;
  margin: auto;
   
}

em{
    text-align: center;

}
a {
    text-decoration: none;
    color: #3D59AB;
    font-family: Verdana, sans-serif;


}

  span {
   /* font-weight: bold;
    font-size: 18px;
    color: #ffffff;*/
width:100%;

}
body { 
    background-color: #b0c4de;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    border:5px solid #CCFFCC;
    max-width:1400px;
}

.me img{
 text-align:left;
 float:right;
}
.me em{
    
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    text-align:left;
}
.me{
overflow: auto;  
font-family: 'Fjalla One', sans-serif;  
}
.newsfeed{
      border-radius: 5px;
  border: 2px solid #6495ED;
  
 font-family: 'Fjalla One', sans-serif;
  margin: auto;
  text-align: center;
  width:99%;
}

@media screen and (max-width:768px) {
#body


}

@media screen and (max-width:320px) {
nav Li,
nav a{ display:block;}


}

@media screen and (max-width:1000px){
#container-homepage{width:1000px;}

}