
button{
    width:340px;
    height: 50px;
}

.bar{
      border-radius: 5px;
  border: 2px solid #6495ED;
  background-color: #BDBDBD;
 
  margin: auto;
  text-align: center;
  width:1400px;
  height:100px;
  border:1px solid #000;"
  position: absolute;
    
    top: 0px;
}

em{
 

}
a {
  text-decoration: none;
  color: #3D59AB;
  font-family: Verdana, sans-serif;

}



span {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}
body { 
    background-color: #b0c4de;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    border:5px solid #CCFFCC;
    
}

.me img{
 text-align:left;
}
.me span{
    
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.me{
overflow: auto;    
}
